# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db

# Logs
*.log
npm-debug.log*

# Optional: Node modules if you add build tools later
node_modules/
dist/
